*{
    box-sizing: border-box;
    max-width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.video {
position:relative;
width: 100%;
left: 50%;
/* top: 15%; */
height: auto;
object-fit: cover;
transform: translate(-50%, -50%);
z-index: 0;
margin-top: 12em;
}

@media only screen and (min-width:  1200px) {
    .video {
        margin-top: 15em;
        }
}

@media only screen and (max-width:  1200px) {
    .video {
        top: 40%;
        }
}

@media only screen and (max-width:  1024px) {
    .video {
        top: 35%;
        }
}

@media only screen and (max-width:  992px) {
    .video {
        margin-top: 10em;
        }
}

@media (max-width: 768px) {
    .video {
        margin-top: 8.5em;
        }
 }

@media only screen and (max-width:  480px) {
    .video {
        margin-top: 5em;
        }
}

